.cardContent{
  margin: 20px 10px 0 5px;
  padding: 5px;

}
.card{
  border: 1px solid rgb(54, 54, 54);
  border-radius: 10px;
  padding: 5px;
  width:320px ;
  
}
.link{
  margin-right: 10px;
  padding-bottom: 10px;
}
h4{
  text-align: center;
}
p{
  text-align: justify;
}
body{
  margin:3em 0 0 10em ;
}
